#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.pokemon-display{
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  row-gap: 120px;
}


.card {
  padding: 2em;
}

.frame {
  border: var(--corner) solid;
  border-image-source:
    radial-gradient(closest-side, transparent 70%, var(--bg) 70%);
  border-image-slice: 49%;
}

.mouse-over:hover{
  text-decoration: underline;
}

.aside-placement{
  position: absolute;
  margin-right: 100%;

}
